<template name="chat">
	{{#if currentUser}}
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="col-md-4 col-sm-4 col-xs-4 preview">
			<input type="text" class="search-conversation" placeholder="Search inbox">
			{{#each messagePreviews}}
				{{> messagePreview}}
			{{/each}}
		</div>
		<div class="col-md-8 col-sm-8 col-xs-8 chat-main">
			<div class="control-btn">
				<div class="btn btn-primary new-conversation" id="new-conversation"><span class="glyphicon glyphicon-plus"></span>New conversation</div>
			</div>
			<div class="main-container">
				{{> yield region="messages"}}
				{{> yield region="newMessage"}}
			</div>
			<div class="create-message-container">
				<textarea name="message-content" id="message-content" class="message-content" cols="30" rows="10" autofocus placeholder="Write a message..."></textarea>
				<div class="control-menu">
					<span class="file"><span class="glyphicon glyphicon-file"></span>Add files</span>
					<span class="photo"><span class="glyphicon glyphicon-camera"></span>Add photos</span>
					<span class="send">Press Enter to send</span>
				</div>
			</div>
		</div>
	</div>
	{{/if}}
</template>